do_token              = "your-digitalocean-api-token"
github_token          = "your-github-personal-access-token"
ssh_key_name          = "your-ssh-key-name-in-digitalocean"
domain                = "cartergrove.me"
